<.header>
  New Daily measurement
  <:subtitle>Use this form to manage daily_measurement records in your database.</:subtitle>
</.header>

<.daily_measurement_form changeset={@changeset} action={~p"/daily_measurements"} />

<.back navigate={~p"/daily_measurements"}>Back to daily_measurements</.back>
